.kb-blocks-post-grid {
    display: grid;
    grid-gap: 15px;

    &.kb-posts-columns-1 {
        grid-template-columns: 1fr;
    }
    &.kb-posts-columns-2 {
        grid-template-columns: 1fr 1fr;
    }
    &.kb-posts-columns-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    &.kb-posts-columns-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &.kb-posts-columns-5 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    &.kb-posts-columns-6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

}