.kb-social-sharing.aligncenter {
  text-align: center;
}

.kb-social-sharing .kb-social-sharing-links li {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 0;
}

.kb-social-sharing .kb-social-sharing-links li a {
  display: block;
  padding: 5px 10px;
}

.kb-social-sharing .kb-social-sharing-links li a:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 10px;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-facebook a {
  background: #4172B8;
  color: #fff;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-facebook a:before {
  background: url("../images/facebook.svg") center no-repeat;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-twitter a {
  background: #1DA1F2;
  color: #fff;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-twitter a:before {
  background: url("../images/twitter.svg") center no-repeat;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-linkedin a {
  background: #0077B5;
  color: #fff;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-linkedin a:before {
  background: url("../images/linkedin.svg") center no-repeat;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-pinterest a {
  background: #BD081C;
  color: #fff;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-pinterest a:before {
  background: url("../images/pinterest.svg") center no-repeat;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-whatsapp a {
  background: #25D366;
  color: #fff;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-whatsapp a:before {
  background: url("../images/whatsapp.svg") center no-repeat;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-reddit a {
  background: #FF4500;
  color: #fff;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-reddit a:before {
  background: url("../images/reddit.svg") center no-repeat;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-xing a {
  background: #006567;
  color: #fff;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-xing a:before {
  background: url("../images/xing.svg") center no-repeat;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-vk a {
  background: #6383A8;
  color: #fff;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-vk a:before {
  background: url("../images/vk.svg") center no-repeat;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-email a {
  background: #111;
  color: #fff;
}

.kb-social-sharing .kb-social-sharing-links .kb-social-sharing-email a:before {
  background: url("../images/twitter.svg") center no-repeat;
}
