.kb-testimonial {
  background: #f8f8f8;
  padding: 2em;
}

.kb-testimonial blockquote {
  border-left: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  font-style: italic;
  font-size: 24px;
}

.kb-testimonial .kb-testimonial-avatar {
  margin-bottom: 1em;
}

.kb-testimonial .kb-testimonial-avatar img {
  display: block;
  margin: 0 auto;
  width: 50px;
  border-radius: 100%;
}

.kb-testimonial .kb-testimonial-bio {
  text-align: center;
  margin-top: 2em;
}

.kb-testimonial .kb-testimonial-bio h2 {
  font-size: 24px;
  margin: 0;
}

.kb-testimonial .kb-testimonial-bio h2:before {
  display: none;
}

.kb-testimonial .kb-testimonial-bio p {
  margin: 0;
}
