.kb-testimonial {
    background: #f8f8f8;
    padding: 2em;

    blockquote {
        border-left: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        font-style: italic;
        font-size: 24px
    }

    .kb-testimonial-avatar {
        margin-bottom: 1em;

        img {
            display: block;
            margin: 0 auto;
            width: 50px;
            border-radius: 100%;
        }
    }

    .kb-testimonial-bio {
        text-align: center;
        margin-top: 2em;

        h2 {
            font-size: 24px;
            margin: 0;

            // To remove line on Twenty Nineteen theme
            &:before {
                display: none;
            }
        }

        p {
            margin: 0;
        }
    }
}